<!DOCTYPE html>

<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>

    <script>   
      function validateForm() {
          var x = "{{ user_id|safe }}";
          if (x == "") {
              alert("You must log in first");
              return false;
          }



      }
      </script>





  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Add Friend/Group</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <hr>
    <br><br>
      <!-- [START songs] -->



    <h1>users list</h1>
    <form action="/addFriendExexute?user_id={{ user_id }}" method="post" onsubmit="return validateForm()">
      <b>


      <div class="page-header">
      </div>
      <div class="row">
        <div class="col-md-15">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Search Result</th>
              </tr>
            </thead>
            <tbody>

            {% for user in users %}
            {% if user.nickname == search_result %}
            <tr><td><input type="checkbox" name="check_list" value = "{{ user.nickname }}"> </td><td>{{ user.nickname }}</td></tr>
            {% endif %}
            </div>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>


    <input type="submit" name="submit" value="Add to Friend List"/>
    </form>


    <h1>friends list</h1>
    <form action="/addGroup?user_id={{ user_id }}" method="post" onsubmit="return validateForm()">
      <b>


      <div class="page-header">
      </div>
      <div class="row">
        <div class="col-md-15">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody>

            {% for friend in friend_list %}
            <tr><td><input type="checkbox" name="check_list" value= {{ friend.nickname }} > </td><td>{{friend.nickname}}</td></tr>
              
            </div>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
        <div><label for="price">Group name:</label><textarea name="group_name" class="input-block-level" rows="1"></textarea></div>

    <input type="submit" name="submit" value="Create Chat Group"/>
    </form>

    <h1>group list</h1>
    <form action="/chooseGroup" method="post" onsubmit="return validateForm()">
      <b>


      <div class="page-header">
      </div>
      <div class="row">
        <div class="col-md-15">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>User Name</th>
                <th>group id</th>
              </tr>
            </thead>
            <tbody>

            {% for group in group_list %}
            <tr><td><input type="checkbox" name="check_list" value= {{ group.group_id }} > </td><td>{{group.group_name}}</td><td>{{group.group_id}}</td></tr>
              
            </div>
            {% endfor %}
            <tr><td><input type="checkbox" name="check_list" value= 'all' > </td><td>Broadcast to All</td></tr>
              
            </div>
            </tbody>
          </table>
        </div>
        </div>


    <input type="submit" name="submit" value="Choose Chat Group"/>
    </form>



      <br>
      <a href=/>Back to main</a>
    </div>
  </body>
</html>
